.tribe-section-custom-fields .tribe-section-header h3 {
	width: auto;
	float: left;
}
.tribe-section-custom-fields .tribe-section-header .disclaimer {
	width: 50%;
	float: left;
	margin-left: 20px;
	color: red;
	font-size: 13px;
}
#event_tribe_organizer.tribe-section-organizer {
	display: none;
}